@font-face {
    font-family: koodak;
    src: url("/assets/support/fonts/koodak.ttf");
}

@font-face {
    font-family: vijaya;
    src: url("/assets/support/fonts/vijaya.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: koodak;
}

body {
    background: linear-gradient(135deg, #1d1d1d, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    text-align: center;
    animation: flot 3s ease-in-out forwards, backgrod 4s linear infinite;
    border-radius: 4rem;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    height: 200px;
    margin-top: 6rem;

}

@keyframes flote {

    0%,
    100% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }
}

@keyframes backgrod {

    0%,
    100% {
        background: rgba(255, 255, 255, 0.07);
        border-radius: 2rem;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
    }

    50% {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3rem;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
    }
}

.header h1 {
    font-size: 2.5rem;
    color: #00e5ff;
    text-shadow: 0 0 10px #00e5ff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #00e5ff;
    display: inline-block;
    direction: rtl;
    margin-top: 2rem;
    animation: typing 2s linear;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 41rch;
    }
}

.header h3 {
    margin-top: 1rem;
    font-size: 2.4rem;
    color: #f39c12;
    text-shadow: 0 0 10px #f39c12;
    font-family: vijaya;
    animation: hri 3s ease-in-out forwards;
}

@keyframes hri {

    100% {
        transform: rotate(0deg);

    }

    75% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(-20deg);

    }

    0% {
        transform: rotate(0deg);
    }


}

.inputs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.inputs input[type="text"] {
    width: 36rem;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.4);
    outline: none;
    transition: all 0.3s linear;
}

.inputs input[type="text"]:focus {
    box-shadow: 0 0 15px #00e5ff;
    width: 36.3rem;
    border-radius: 4rem;
    font-size: 2.3rem;
}

.inputs input[type="submit"] {
    width: 14rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(45deg, #16a864, #00ff99);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 255, 100, 0.7);
}

.inputs input[type="submit"]:hover {
    transform: scale(1.1) rotate(-3deg);
    box-shadow: 0 0 25px #00ffcc;
}

.wrapper {
    background: rgba(255, 255, 255, 0.07);
    padding: 3rem;
    width: 50rem;
    margin: auto;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    animation: float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    margin-top: 3rem;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.wrapper h2,
.wrapper p {
    margin: 0.16rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
}

.vijaya {
    font-family: vijaya;
    font-weight: bold;
}